<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<form method="post" action="/send" enctype="application/x-www-form-urlencoded">
    <input name="query" type="text">
    <button value="Submit">Получить подсказки</button>
</form>
<br>
<table>
    <tr>
        <th>Результат:</th>
    </tr>
    <tr th:each="suggestion: ${suggestions}">
        <td th:text="${suggestion.getValue()}"></td>
    </tr>
</table>
<p>Кол-во:</p>
<p th:text="${Size}"></p>
</body>
</html>